<%- include('./partials/adminHeader.ejs') %>

<div class="screen-overlay"></div>
<%- include('./partials/aside.ejs') %>
<main class="main-wrap">
    <section class="content-main">
      <div class="content-header">
        <h2 class="content-title">Best Selling Categories</h2>
        
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <% if (bestSellingCategories != '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>ID</th>
                  <th>Category Title</th>
                  <th>Total Quantity Sold</th>
                </tr>
              </thead>
              <tbody>
                <%for(let i=0;i<bestSellingCategories.length;i++){  %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><%= bestSellingCategories[i].category.category %></td>
                    <td><%= bestSellingCategories[i].bestSellingCategory%></td>
                  </tr>
                <% }; %>
              </tbody>
      
            </table>
            <% }else{ %>
            <h1 class="text-center text-secondary mt-5">
              No categories
            </h1>

            <% } %>
          </div>
        </div>
      </div>
      
    </section>
  </main>
    <!-- content-main end// -->
    
    <%- include('./partials/adminHeader.ejs') %>