<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend//page-sellers-list by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->
<head>
<%- include('./partials/adminHeader.ejs') %>
</head>

<body>
    <%- include('./partials/aside.ejs') %>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Offer Details</h2>
                    <div>
                        <a href="/createOffer" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                    </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <% if (offers.length > 0) { %>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Discount On</th>
                                    <th>Status</th>
                                    <th>Discount Type</th>
                                    <th>Discount Value</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-light tr">
                                <% for (let i = 0; i < offers.length; i++) { %>
                                <tr>
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            <div class="left">
                                            </div>
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%= offers[i].name %></h6>
                                            </div>
                                        </a>
                                    </td>
                                    <td><%= offers[i].discountOn %></td>
                                    <td><span class="badge rounded-pill <%= offers[i].isActive == true ? 'alert-success' : 'alert-warning'%> " id="status<%= i %>"><%= offers[i].isActive == true ? 'Active' : 'Blocked' %></span></td>
                                    <td><%= offers[i].discountType%></td>
                                    <td><%= offers[i].discountValue %></td>
                                    <td class="text-end">
                                        <input type="hidden" value="<%= offers[i]._id %>" id="offerId<%= i %>">
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15 toggle-btn" onclick="toggle('<%= i %>')"><%= offers[i].isActive == true ? 'Block' : 'Activate' %></a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% } else { %>
                        <h1 class="text-center text-secondary mt-5">No offers found in the database</h1>
                        <% } %>
                    </div>
                    
                </div> <!-- card-body end// -->
            </div> <!-- card end// --> 
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <%- include('./partials/adminFooter.ejs') %>
    <script src="/js/users.js"> </script>




    <script>



function toggle(index) {
    const offerId = document.getElementById(`offerId${index}`).value
    fetch(`/offerToggle?offerId=${offerId}`, {
        method: "PUT",
    })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Fetch error:', error);
        });
        setTimeout(() => {
        window.location.reload()
}, 800);
}

</script>
</body>
</html>