<%- include('./userLayout/userHeader') %>

	<body>

		<%- include('./userLayout/navBar') %>

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>L-App<span clsas="d-block"></span></h1>
								<p class="mb-4">Buy or upgrade your Laptops in reasonable price</p>
								<p><a href="/shop" class="btn btn-secondary me-2">Shop Now</a><a href="/" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<!-- <img src="static/images/banner-laptop.jpg" class="img-fluid"> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">New Products</h2>
						<p class="mb-4 text-dark">Shop our newly added products</p>
						<p><a href="/shop" class="btn">Shop</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<% for(let i=0;i<products.length;i++){ %>
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="/productPage?productId=<%= products[i]._id %>">
							<img src="/<%= products[i].image[0] %>" class="img-fluid product-thumbnail" width="200px" height="200px">
							<h3 class="product-title"><%= products[i].productTitle %></h3>
							<strong class="product-price">₹<%= products[i].price %></strong>

							<span class="icon-cross">
								<img src="static/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<% } %>
					<!-- End Column 2 -->

					

				</div>
			</div>
		</div>
		<!-- End Product Section -->


		

		<%- include('./userLayout/userFooter') %>