<%- include('./userLayout/userHeader') %>

	<body>

		<%- include('./userLayout/navBar') %>

<style>
	.image-container {
    position: relative;
    width: 100%;
    height: auto; 
	
}
.overlay {
    position: absolute;
    top: 50%; /* Position overlay in the middle vertically */
    left: 20%; /* Position overlay in the middle horizontally */
    transform: translate(-50%, -50%); /* Center the overlay */
    text-align: center; /* Align text and button in the center */
    padding: 20px;
}
.overlay h2 {
    font-size: 120px;
    color: #ffffff;
}
.img{
		filter: blur(2px);
		filter: brightness(0.6);
		filter: grayscale(2%);
	}
@media (max-width: 768px) {
        .overlay {
            width: 100%; /* Adjust width for smaller screens */
			left: 50%;
			text-align: left;
        }

        .overlay h2 {
            font-size: 70px; /* Further reduce font size for smaller screens */
        }

        .overlay p {
            font-size: 15px; /* Further reduce font size for paragraphs */
        }
    }
	
	.img{
		filter: blur(2px);
		filter: brightness(0.6);
		filter: grayscale(2%);
	}
	@media (max-width: 375px) {
		.overlay {
            width: 100%;
			height: 100px; /* Adjust width for smaller screens */
			left: 50%;
			top: 30%;
			text-align: left;
        }

        .overlay h2 {
            font-size: 40px; /* Further reduce font size for smaller screens */
			
        }

        .overlay p {
            font-size: 10px; /* Further reduce font size for paragraphs */
        }
		.img{
		filter: blur(2px);
		filter: brightness(0.6);
		filter: grayscale(2%);
		height: 250px;
	}

	}

</style>
		<!-- Start Hero Section -->
		<div class="image-container">
			<img src="static/images/laptop1.jpg" class="img-fluid mt-0 img">
			<div class="overlay">
				<h2>L-App</h2><br>	
				<p class="mb-4">Buy or upgrade your Laptops in reasonable price</p>
				<p><a href="/shop" class="btn btn-secondary me-2">Shop Now</a><a href="/" class="btn btn-white-outline">Explore</a></p>
			</div>
		</div>

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">New Products</h2>
						<p class="mb-4 text-dark">Shop our newly added products</p>
						<p><a href="/shop" class="btn">Shop</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<% for(let i=0;i<products.length;i++){ %>
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="/productPage?productId=<%= products[i]._id %>">
							<img src="/<%= products[i].image[0] %>" class="img-fluid product-thumbnail" width="200px" height="200px">
							<h3 class="product-title"><%= products[i].productTitle %></h3>
							<strong class="product-price">₹<%= products[i].price %></strong>

							<span class="icon-cross">
								<img src="static/images/cross.svg" class="img-fluid">
							</span>
						</a>
					</div> 
					<% } %>
					<!-- End Column 2 -->

					

				</div>
			</div>
		</div>
		<!-- End Product Section -->


		

		<%- include('./userLayout/userFooter') %>